<body class="user-show">
<div class="border-form-div">
  <div class="user">
    <h1>My User Page</h1>
  </div>
      <p><span class="emphasis">Email:</span> <%= current_user.email.capitalize %></p>
      <p><span class="emphasis">Role:</span> <%= current_user.role.capitalize %></p>
      <p><span class="emphasis">My Wikis</span></p>
        <% if @wikis.count > 0 %>
          <% @wikis.each do |wiki| %>
          <div>
          <%= link_to wiki.title, wiki %>
          </div>
        <% end %>
        <% else %>
          <p>You have not created any wikis</p>
        <% end %>


      <p><%= link_to "View All Wikis", wikis_path, :class => 'user-page' %></p>
</div>
</body>