<body class="user-show">
  <div class="user">
    <h1>My User Page</h1>
  </div>
      <p>Email: <%= current_user.email.capitalize %></p>
      <p>Role: <%= current_user.role.capitalize %></p>
      <p>My Wikis</p>
        <% if @wikis.count > 0 %>
          <% @wikis.each do |wiki| %>
          <div>
          <%= link_to wiki.title, wiki %>
          </div>
        <% end %>
        <% else %>
          <p>You have not created any wikis</p>
        <% end %>


      <p><%= link_to "View All Wikis", wikis_path, :class => 'user-page' %></p>
</body>

