<head>
  <link href="https://fonts.googleapis.com/css?family=Martel:300,400,600,700,900" rel="stylesheet">
</head>

<body class="welcome">
  <div class="container" id="welcome-jumbo">
    <div class="jumbotron text-center">
      <h1> Wiki-Dogs: </h1>
        <h2>Social, Markdown Wikis <br>All About Dogs</h2>
      <%= link_to "Sign Up Now!", new_user_registration_path, :class => 'btn btn-info btn-lg' %>
    </div>
  </div>

  <div class="container" id="welcome-sub">
    <div class="row text-center">
      <div class="col-sm-5 pull-left" id="public-block">
        <h3>Create Public Wikis</h3>
        <h5>Sign up for a free plan to create and contribute to as many public wikis as you'd like!</h5>
      </div>
      <div class="col-sm-5 pull-right" id="private-block">
        <h3>Create Private Wikis</h3>
        <h5>Upgrade to a premium plan to create private wikis and control who may contribute to them!</h5>
      </div>
    </div>
  </div>
</body>