<div class="container">
  <div class="jumbotron text-center">
    <h1> Blocipedia: <br>Social, Markdown Wikis</h1>
  </div>
  <h2 class="text-center">Create and Share Markdown Wikis</h2>
</div>

<div class="container">
  <div class="row text-center">
    <div class="col-sm-5">
      <h3>Create as many public <br>wikis as you want!</h3>
      <%= link_to "Free Plan", new_user_registration_path, :class => 'btn btn-info btn-lg' %>
    </div>
    <div class="col-sm-2"></div>
    <div class="col-sm-5">
      <h3>Create private wikis!</h3>
      <%= link_to "Premium Plan", new_user_registration_path, :class => 'btn btn-info btn-lg' %>
    </div>
  </div>
</div>