/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";

.new-session, .new-registration, .edit-info {
  background: url("https://images.unsplash.com/photo-1520087619250-584c0cbd35e8?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=46133220eb9fb8b0d0f308e6c2d501ca&auto=format&fit=crop&w=2785&q=80");
  background-color: #EDE9E2;
  background-size: 300px;
  background-repeat: no-repeat;
  background-position: top right;
}

h1, h2, h3, h4, h5, h6, p {
  font-family: 'Martel', serif;
  font-weight: 700;
}

.container {
  font-family: 'Martel', serif;
  font-weight: 700;
  margin-top: 15px;
  text-align: right;
  font-size: 20px;
}

.border-form-div {
  max-width: 500px;
  padding: 19px 29px 29px;
  margin: 40px auto 20px;
  background-color: #EDE9E2;
  border: 2px solid #e5e5e5;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
  -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


.border-form-div .form-signin-heading,
.border-form-div .checkbox {
  margin-bottom: 10px;
}

.border-form-div input[type="text"],
.border-form-div input[type="email"],
.border-form-div input[type="password"] {
  width: 100%;
  background-color: #f5f3ef;
  font-size: 16px;
  height: auto;
  margin-bottom: 15px;
  padding: 7px 9px;
}

.underline {
  text-decoration: underline;
}

a.nav-link {
  background-color: #EDE9E2;
  font-size: 16px;
  font-weight: 700;
  font-family: 'Martel', serif;
  border-radius: 50px;
}


a.nav-link:hover {
  background-color: salmon;
  border-radius: 50px;
}