// Place all the styles related to the Wikis controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#all {
  font-family: 'Martel', serif;
  font-weight: 700;
  font-size: 30px;
  margin-left: 40px;
}
